#store-section {
    padding-top: 2rem;
    padding-bottom: 2rem;
    // height:  ~"calc(100vh - @{nav-height})";
    // overflow: hidden;

    .row {
        padding: 0 2rem;
    }

    #filters-container {
        padding: .5rem;
        padding-right: 1.5rem;
        position: relative;

        @media (min-width : 768px) {
            .card {
                position: fixed;
                height: 300px;
            }
        }
    }

    #products-container {
        // .scroll();
    }
}