<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        <link rel="stylesheet"
              href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
              integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ"
              crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Amatic+SC|Bad+Script|Josefin+Slab|Julius+Sans+One|Open+Sans|Poiret+One|Shadows+Into+Light|PT+Sans|Poppins"
              rel="stylesheet">
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>

    <nav class="navbar navbar-toggleable-md navbar-light">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="/">The Dog Lead Shop</a>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto nav-group">
                <li class="nav-item">
                    <a class="nav-link" href="/store">Shop</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/blog">Blog</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contact-us">Contact Us</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0 nav-group">
                <input class="form-control" type="text" placeholder="Search...">
            </form>
            <button class="btn btn-basket nav-group">
                <i class="fa fa-shopping-basket"></i>
            </button>
        </div>
    </nav>

    <body>
        <section class="page-container">
            {{{body}}}
        </section>
    </body>

    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"
            integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n"
            crossorigin="anonymous"></script>
    <script src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"
            integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
            crossorigin="anonymous"></script>
    <script src="https://use.fontawesome.com/cacdb93f48.js"></script>
    <script src="/modules/handlebars/dist/handlebars.min.js"></script>
    <script src="/modules/handlebars-intl/dist/handlebars-intl.min.js"></script>

    <script src="/javascripts/basket.js"></script>
    <script src="/javascripts/store.js"></script>
    <script src="/javascripts/app.js"></script>
</html>