<div id="page-store">
    <div class="container-fluid section"
         id="store-section">
        <div class="row">
            <div class="col-12 col-md-3"
                 id="filters-container">
                <div class="card">
                    <div class="col-12 col-md-4"></div>
                    <div class="col-12 col-md-4"></div>
                    <div class="col-12 col-md-4"></div>
                    <div class="col-12 col-md-4"></div>
                    <div class="col-12 col-md-4"></div>
                    <button class="btn btn-secondary sm">Primary</button>
                    <button class="btn btn-secondary">Primary</button>
                    <button class="btn btn-secondary lg">Primary</button>
                    <button class="btn btn-secondary xl">Primary</button>
                    <button class="btn link-primary">link-primary</button>
                    <button class="btn outline-primary">outline-primary</button>

                </div>
            </div>

            <div class="col-12 col-md-9"
                 id="products-container">
                 <div class="row">
                    {{#each products}}
                        {{> product_card}}
                    {{/each}}
                 </div>
            </div>
        </div>
    </div>
</div>
