@body-font: 'Open Sans', sans-serif;
@body-font: 'Poppins', sans-serif;
@header-font: 'Shadows Into Light', cursive;
@header-font: 'Amatic SC', cursive;
// @header-font: 'Poiret One', cursive;
// @header-font: 'Josefin Slab', serif;
// @header-font: 'Julius Sans One', sans-serif;
// @header-font: 'Bad Script', cursive;

@box-shadow-1: 0px 2px 8px rgba(40, 40, 50, 0.2); // mid height
@box-shadow-2: 0px 1px 8px rgba(40, 40, 50, 0.15); // small height
@box-shadow-3: 0px 2px 12px rgba(40, 40, 50, 0.25); // large height

@nav-height: 80px;
@border-radius: 3px;

@brand-primary-1: #437086; // Grey/ blue
@brand-secondary-1: #2adede; // cyan
@brand-warning-1: #fde010; // yellow
@brand-danger-1: #fd2610; // red

@grey-1: #70787b; // light grey
@grey-2: #515658; // mid grey
@grey-3: #344a54; // dark frey

@text-color: @grey-2;
@heading-color: @grey-3;

@font-size-xs: .5rem;
@font-size-base: 1rem;
@font-size-lg: 1.5rem;
@font-size-xl: 3rem;
