@body-font: 'Open Sans', sans-serif;
@body-font: 'Poppins', sans-serif;
@header-font: 'Shadows Into Light', cursive;
@header-font: 'Amatic SC', cursive;
// @header-font: 'Poiret One', cursive;
// @header-font: 'Josefin Slab', serif;
// @header-font: 'Julius Sans One', sans-serif;
// @header-font: 'Bad Script', cursive;

@box-shadow-1: 0px 2px 8px rgba(40, 40, 50, 0.2); // mid height
@box-shadow-2: 0px 1px 8px rgba(40, 40, 50, 0.15); // small height
@box-shadow-3: 0px 2px 12px rgba(40, 40, 50, 0.25); // large height

@nav-height: 80px;
@border-radius: 3px;

@color-1: #437086; // Grey/ blue

@grey-1: #70787b; // light grey
@grey-2: #515658; // mid grey
@grey-3: #344a54; // dark frey